body {
    background-color: white;
};

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.card
{
    display: inline-block;
}

.navTitle {
    color: white;
}

.navbar {
    background-color: #1A237E;
    display: flex;
    justify-content: center;
    align-items: center;
}