body {
    background-color: white;
};

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.card
{
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.navTitle {
    color: white;
}

.navbar {
    background-color: #1A237E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five-result-content {
    width: 100%;
}

.list-group-item {
    margin-bottom: 3px;
}

.searchBtn {
    margin-top: 3px;
    background-color: #1A237E;
    color: white;
    margin-bottom: 10px;
    width:190px;
}

.border {
    padding-top: 10px;
    padding-left: 10px;
}

.fivedaydiv{
    margin-top:25px;
}